<header class="w-1/4 px-10 h-14 bg-black rounded-full fixed top-4 left-3/8 flex items-center justify-around">
  <a routerLink="/" class="text-white">
	  <lucide-angular [name]="House" size="30"></lucide-angular>
  </a>
	<a routerLink="/" class="text-white">
		<lucide-angular [name]="Heart" size="30"></lucide-angular>
	</a>
	<a routerLink="/" class="text-white">
		<lucide-angular [name]="Moon" size="30"></lucide-angular>
	</a>
	<a routerLink="/" class="text-white">
		<lucide-angular [name]="Sun" size="30"></lucide-angular>
	</a>
	<a routerLink="/" class="text-white">
		<lucide-angular [name]="CircleQuestionMark" size="30"></lucide-angular>
	</a>
</header>
